<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangzhelang.core.mapper.PersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liangzhelang.core.entity.Person">
        <id column="id" property="id" />
        <result column="fullName" property="fullName" />
        <result column="shortName" property="shortName" />
        <result column="gender" property="gender" />
        <result column="nation_id" property="nationId" />
        <result column="detail" property="detail" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fullName, shortName, gender, nation_id, detail
    </sql>

</mapper>
